body  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 99.9vw;
    height: 100vH;
    background-color: #eceaf0; 
}  
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.01%;
    background-color:rgb(72, 212, 255)
}
.nav-link ul {
    display: flexbox;
    list-style-type: none;
}
.nav-links li a {
    text-decoration: none;
    color: rgb(27, 24, 24);
    margin: 0 14px;
}
.main-page {
    padding: 10%
}
.row {
    display: flex;
}
.col-1 {
    flex-basis: 500%;
}
.col-1 h1{
    margin-top: 800px;
}
.col-2 img{
    width: 300px;
}
footer {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}
.footerline {
    width: 100%;
    height: 1px;
    background-color: black;
}
.contact {
    width: 100%;
    height: 100%;
}
.contact h1 {
    margin-top: 50px 0;
}
.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 241, 241);
}
.contact-container form {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 226);
}
.contact-container form input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    width: 300px
}
.contact-container form textarea {
    padding: 10px;
    outline: none;
    border: none;
    width: 300px
}
main {
    background-color: aquamarine;
}
.contact-container form button {
    border: none;
    padding: 10px 15px;
    background-color: black;
    color:#eceaf0;
    cursor: pointer;
    width: 100px;
}
